<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="grpcPort" value="50055"/>
    <add key="grpcHost" value="0.0.0.0"/>
    <add key="certificateFolder" value=""/>
    <add key="logType" value="dynamodb"/>
    <add key="fileLogFolderWindows" value="c:\tmp\cubeauditsse\"/>
    <add key="fileLogFolderLinux" value="/data/cube/"/>
    <add key="fileLogPattern" value="0"/>
    <add key="enableMetricEndpoint" value="true"/>
    <add key="metricEndpointPort" value="19345"/>
  </appSettings>
</configuration>